@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: flex;
}

.justiy-between {
    justify-content: space-between;
}

.gap-10 {
    gap: 10px;
}

.gap-35 {
    gap: 35px;
}

.align-center {
    align-items: center;
}

.sctn-1 {
    background-image: url(../image/Rectangle18.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.sctn-1::after {
    content: '';
    background: #000000;
    opacity: 57%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0%;
}

.z-index-1 {
    z-index: 10;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: #2C49FE;
}

.heading>span {
    color: #01C8FF;
}

.heading-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.font-weight-600 {
    font-weight: 600;
}

.log-out {
    width: 118px;
    height: 46px;
    border-radius: 23px;
    background: #2C49FE;
    justify-content: center;
    cursor: pointer;
}

.pd-top-15 {
    padding-top: 15px;
}

.row-color {
    background: #2C49FEBD;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}



.main {
    max-width: 1044px;
}

.p-1 {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.p-1>span {
    position: relative;
    width: 100%;
}

.p-1>span::before {
    content: '';
    border-bottom: 8px #2C49FE solid;
    width: 91%;
    bottom: -10px;
    position: absolute;
}

.p-1>span::after {
    content: '';
    border-bottom: 8px #01C8FF solid;
    width: 10%;
    bottom: -10px;
    right: 0%;
    position: absolute;
}

.p-2 {
    font-family: "Yantramanav", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    max-width: 765px;
}

.mr-top-70 {
    margin-top: 70px;
}

.btn-1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 172px;
    height: 52px;
    border-radius: 28px;
    border: none;
    background: #2C49FE;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn-2 {
    background: transparent;
}

.btn-1:hover {
    background-color: #FFFFFF;
    color: #2C49FE;
}

.font-weight-400 {
    font-weight: 400;
}

.mr-top-30 {
    margin-top: 30px;
}

.box-11 {
    border-radius: 10px;
    width: 70%;
}

.height-108 {
    min-height: 108px;
}

.justiy-center {
    justify-content: center;
}

.location {
    font-family: "Yantramanav", sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.font-weight-500 {
    font-weight: 500;
}

.opacity-70 {
    opacity: 70%;
}

.pd-bottom-37 {
    padding-bottom: 37px;
}

.go-btn {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: #2C49FE;
    width: 185px;
    height: 70px;
    border-radius: 150px;
    border: none;
    cursor: pointer;
}

.wv-100 {
    width: 100%;
}

.pstn-ab {
    position: absolute;
}

.pstn-rel {
    position: relative;
}

.sctn-2 {
    min-height: 100vh;
}

.line-1 {
    background: #2C49FE;
    width: 166px;
    height: 8px;
}

.line-2 {
    background: #01C8FF;
    height: 8px;
    width: 22px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.make {
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.lorem-1 {
    font-family: "Poppins", sans-serif;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4D;
    margin-top: 15px;
}

.mr-left-10 {
    margin-left: 10px;
}

.mr-bottom-47 {
    margin-bottom: 47px;
}

.box {
    flex-wrap: wrap;
}

.box1 {
    border: 2px solid #2C49FE;
    width: 248px;
    height: 198px;
    border-radius: 5px;
    flex-direction: column;
    padding-top: 30px;
    transition: 0.3s;
}

.box-icon {
    width: 79px;
    height: 79px;
    border: 2px solid #2C49FE;
    border-radius: 50%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
}

.box1-text {
    max-width: 220px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #2D3CAE;
}

.Sharing {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #2C49FE;
}

.box1:hover {
    background-color: #2C49FE;
    cursor: pointer;
}

.box1:hover {
    .Sharing {
        color: #FFFFFF;
    }

    .box1-text {
        color: #FFFFFF;
    }
}

.pd-bottom-50 {
    padding-bottom: 50px;
}

.cursor-p {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: blue;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 50px;
}

.sctn-3 {
    background-color: #556AF1;
}

.flex-dir {
    flex-direction: column;
}

.lorem-2 {
    font-size: 37px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    max-width: 708px;
}

.lorem-3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    max-width: 765px;
}

.number-1 {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.text-3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.pd-top-50 {
    padding-top: 50px;
}

.Explore {
    font-size: 37px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0em;
    max-width: 338px;
    color: #000000;
}

.lorem-4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4D;
}

.size-16 {
    font-size: 16px;
}

.width-270 {
    max-width: 270px;
}

.img-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.pd-top-7 {
    padding-top: 7px;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.date-1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4D;
}

.img-box {
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    transition: 0.3s;
}

.img-box:hover {
    box-shadow: 2px 9px 32px 0px #0000000F;
}

.input-1 {
    border: 1px solid #00000066;
    border-radius: 5px;
    outline: none;
    height: 42px;
    color: #4D4D4D;
    padding-left: 5px;
}

.input-1::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.About-me {
    resize: none;
    height: 124px;
}

.btn-sign {
    color: #FFFFFF;
    height: 46px;
    border-radius: 23px;
    background: #2C49FE;
    border: none;
}

.sctn-5 {
    background-color: #000000;
}

.lorem-5 {
    color: #FFFFFF;
    max-width: 346px;
    font-size: 14px;
}

.size-14 {
    font-size: 14px;
}

.size-12 {
    font-size: 12px;
}

.flex-w {
    flex-wrap: wrap;
}

.Show {
    background-color: #18205C;
}

.line-height {
    line-height: normal;
}

.menuicon {
    display: none;
    z-index: 15;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.vh-100 {
    height: 100%;
}

.last {
    color: #FFFFFF;
    line-height: 21px;
}

.mr-top-24 {
    margin-top: 24px;
}

.width-fit {
    width: fit-content;
}

.height-108 {
    min-height: 108px;
}

.justiy-end {
    justify-content: end;
}

.width-85 {
    width: 85%;
}


.width-920 {
    max-width: 920px;
}

@media (max-width:992px) {
    .menuicon {
        display: flex;
        z-index: 5;
        margin-right: 5%;
    }

    .justiy-center-1 {
        justify-content: center;
    }

    .bg-1 {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        left: 0%;
        top: 0%;
        z-index: 22;
    }

    .z-index-5 {
        z-index: 5;
    }

    .pstn-fix {
        position: fixed;
    }

    .menu {
        display: flex;
        flex-direction: column;
        background-color: rgb(147, 147, 232);
        position: fixed;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .menu.show {
        left: 0%;
    }

    .wv-50 {
        width: 50%;
    }

    .mr-top-25 {
        margin-top: 25px;
    }

    .wv-22 {
        width: 22%;
    }

    .border-r {
        border-radius: 114px;
    }

    .pd-tb-17 {
        padding-top: 17px;
        padding-bottom: 17px;
    }
}

@media (min-width:576px) {
    .col-sm-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .pstn-rel-sm {
        position: relative;
    }
}

@media (min-width:768px) {
    .col-md-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .right-border-11::after {
        content: '';
        position: absolute;
        border-right: 3px solid #FFFFFF;
        height: 100%;
        width: 100%;
    }

    .box-11 {
        padding: 20px;
    }

}

@media (min-width:576px) and (max-width:768px) {
    .box-11::after {
        content: '';
        position: absolute;
        width: 95%;
        height: 3px;
        top: 50%;
        background-color: #FFFFFF;
    }

    .box-11::before {
        content: '';
        position: absolute;
        width: 3px;
        height: 95%;
        right: 50%;
        background-color: #FFFFFF;
    }

    .box-11 {
        position: relative;
        padding: 10px;
    }
}

@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .pd-left-50 {
        padding-left: 50px;
    }

    .col-lg-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .p-1 {
        font-size: 64px;
        line-height: 96px;
    }


    .heading {
        font-size: 36px;
    }
    .lorem-2,.Explore{
        font-size: 48px;
        line-height: 62.4px;
    }

    .radius-150 {
        border-radius: 150px;
    }

    .right-border::after {
        content: '';
        position: absolute;
        border-right: 3px solid #FFFFFF;
        height: 100%;
        width: 100%;
    }
}